<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"themeslug/slide"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/slide-text"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/menu-home"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/socials"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/category-banner"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/categories"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/products"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/recommend"} -->
<!-- /wp:pattern -->
 
<!-- wp:pattern {"slug":"themeslug/topics"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/new-media"} -->
<!-- /wp:pattern -->

<!-- wp:pattern {"slug":"themeslug/about-us"} -->
<!-- /wp:pattern -->
