.product-page .product-page-top-inner .product-page-top-left.product-page-top-center {
    text-align: center;
}

.plasma-bico .pico_laser_orenge_top {
    background-color: orange;
    position: relative;
    padding: 10% 0 10% 0;
    text-align: center;
}

.plasma-bico .pico_laser_orenge_top .pico_laser_orenge_top_title {
    font-size: 2rem;
    font-family: fantasy;
    color: #000000;
}

.plasma-bico .pico_womon {
    position: relative;
}

.plasma-bico .pico_womon .pico_text {
    position: absolute;
    top: 50px;
    left: 5%;
}

.plasma-bico .pico_womon .womanh2 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 5%;
    font-style: italic;
    color: #000000;
}

.plasma-bico .boder_box {
    border-bottom: 8px solid;
    max-width: 400px;
    text-align: left;
    width: auto;
    border-image: linear-gradient(to right, #e98503, #e4e000) 1;
    margin-bottom: 2%;
}

.plasma-bico .boder_box span {
    display: none;
}

.plasma-bico .pico_womon .pico_flex {
    display: flex;
    align-items: flex-end;
}

.plasma-bico .pico_womon .pico_flex .indi {
    text-align: left;
    padding-right: 3%;
}

.plasma-bico .pico_womon .pico_flex_sp {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.plasma-bico .pico_womon .pico_flex_sp .pico_skin_sample {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.plasma-bico .pico_2point {
    background-color: rgb(43, 43, 43);
    padding-left: 15%;
    position: relative;
}

.plasma-bico .pico_2point .tama_or1 {
    width: 70px;
    position: absolute;
    top: 5%;
    left: 1%;
}

.plasma-bico .pico_2point .tama_or2 {
    width: 70px;
    position: absolute;
    top: 41%;
    left: 1%;
}

.plasma-bico .pico_flex_sp {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.plasma-bico .pico_flex_sp .lesions {
    width: 60%;
    margin-top: 30%;
}

.plasma-bico .pico_flex_sp .article .title {
    font-size: 3rem;
    font-weight: bolder;
    color: orange;
    text-align: left;
    margin-bottom: 5%;
}

.plasma-bico .pico_flex_sp .article p {
    text-align: left;
    color: white;
}

.plasma-bico .pico_flex_sp .article .wp-block-image {
    width: 60%;
}

.plasma-bico .pico_flex_sp .article .article_h3 {
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: 1.2rem;
}

.plasma-bico .boder_box_orenge {
    border-bottom: 30px solid;
    width: 100%;
    border-color: orange;
}


.plasma-bico .boder_box_orenge .components-placeholder {
    display: none;
}

.plasma-bico .gray_wrapper {
    background-color: rgb(43, 43, 43);
    padding-left: 5%;
    padding-right: 5%;
}

.plasma-bico .gray_wrapper .technology_focus {
    background-color: rgb(43, 43, 43);
    position: relative;
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-bico .gray_wrapper .technology_focus .technology {
    background-color: orange;
    border-radius: 10px;
    color: white;
    width: 60%;
    font-size: 1.5rem;
    margin-left: 5%;
    position: absolute;
    top: -10px;
}

.plasma-bico .gray_wrapper .pico_title_h3 {
    font-size: 3rem;
    color: white;
    text-align: left;
    font-style: italic;
}

.plasma-bico .boder_box .components-placeholder {
    display: none;
}

.plasma-bico .pico_flex_sp {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: -webkit-center;
}

.plasma-bico .pico_flex_sp .pico_graf_img {
    margin-bottom: 10%;
    margin-top: 10%;
    width: 85vh;
    text-align: -webkit-center;
}

.plasma-bico .article_txt {
    text-align: left;
    color: white;
    margin-bottom: 8%;
}

.plasma-bico .pico_flex_sp .Patented_Technologies {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-bico .pico_flex_sp .Consistent_Spot {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-bico .pico_flex_sp .High-Quality {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-bico .pico_flex_sp .Stability {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-bico .spec .spcecification {
    background-color: orange;
    border-radius: 10px;
    color: white;
    width: 40%;
    font-size: 3rem;
    margin-left: 5%;
    position: absolute;
    top: -10px;
    text-align: center;
}

.plasma-bico .spec .boder_box_orenge2 {
    border-top: 30px solid;
    width: 100%;
    border-color: orange;
    margin-top: -5%;
}

.plasma-bico .boder_box_orenge2 .components-placeholder {
    display: none;
}

.plasma-bico .spec .spec_flex {
    display: flex;
}

.plasma-bico .spec .spec_flex .hontai_img {
    width: 35%;
    margin: 0 auto;
}

.plasma-bico .spec .spec_flex .pico_table thead {
    border: none;
}

.plasma-bico .spec .spec_flex .pico_table {
    width: 400px;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
}

.plasma-bico .spec .spec_flex .pico_table tr th {
    border: none;
    padding: 0;
}

.plasma-bico .spec .spec_flex .pico_table tr td {
    border-top: none;
    border-left: none;
    border-right: none;
}

.plasma-bico .spec .spec_flex .pico_table tr:last-child td:last-child {
    border: none;
}

.plasma-bico .spec .spec_flex .pico_table tr th:first-child {
    border-top-left-radius: 80px 80px;
    padding-left: 5%;
    text-align: left;
    height: 30px;
    line-height: 2.5;
    width: 11%;
    font-style: italic;
    color: white;
    background-color: #000000;
    font-weight: bold;
}

.plasma-bico .spec .spec_flex .pico_table tr th:last-child {
    border-top-right-radius: 80px 80px;
    padding-left: 5%;
    text-align: left;
    height: 30px;
    line-height: 2.5;
    width: 20%;
    font-style: italic;
    color: white;
    background-color: #000000;
    font-weight: bold;
}

.plasma-bico .spec .spec_flex .pico_table tr td:first-child {
    padding-left: 5%;
    text-align: left;
    height: 30px;
    line-height: 2.5;
    background-color: rgb(102, 102, 102);
    color: white;
    width: 20%;
}

.plasma-bico .spec .spec_flex .pico_table tr td:last-child {
    padding-left: 5%;
    width: 40%;
    background-color: rgb(233, 233, 233);
    text-align: left;
}

.plasma-bico .spec .spec_flex .pico_table tr:last-child td:first-child {
    border-bottom-left-radius: 40px 40px;
}

.plasma-bico .spec .spec_flex .pico_table tr:last-child td:last-child {
    border-bottom-right-radius: 40px 40px;
}

.plasma-bico .spec .title_video {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

.plasma-bico .spec .video_width {
    text-align: center;
    width: 560px;
    height: 315px;
    margin: 0 auto;
}

.plasma-puraxel .smartlux_intro {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-puraxel .smartlux_intro .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
    text-align: -webkit-center;
}

.plasma-puraxel .smartlux_intro .inner .wp-block-image.puraxel_logo img {
    margin: 0px;
    width: 17%;
}

.plasma-puraxel .smartlux_intro .sub_title {
    width: 100%;
    color: #1E1E1E;
    font-size: 36px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin: 0 auto;
    text-align: center;
}

.plasma-puraxel .smartlux_intro .content {
    padding-bottom: 50px !important;
    line-height: 170%;
}

.plasma-puraxel .smartlux_intro .container-video {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    animation: load 1.5s 0.8s ease-out forwards;
}

.plasma-puraxel .smartlux_intro .container-video .table-center {
    display: table;
    width: 100%;
    position: relative;
    height: 100%;
}

.plasma-puraxel .smartlux_intro .container-video .table-center p {
    color: #fff;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin: 10px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.015em;
    vertical-align: middle;
    display: table-cell;
}

.plasma-puraxel .smartlux_intro .container-video .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100px;
    z-index: -1000;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(1.05);
}

.plasma-puraxel .smartlux_intro .pura_video {
    width: 100%;
    height: 100%;
    background-color: #0D2A0A;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.plasma-puraxel .smartlux_intro .pura_video video {
    width: 72%;
    height: 100%;
}

.plasma-puraxel .smartlux_intro .pura_video .videotext {
    width: 75%;
    font-size: 90%;
    color: #FFFFFF;
    padding: 20px;
    text-align: left;
}

.plasma-puraxel .smartlux_intro .ttl_02 {
    width: 100%;
    background: #02023A;
    margin: 0 auto;
    padding: 10px;
    letter-spacing: 1.5px;
    border-radius: 200px;
    font-size: 120%;
}

.plasma-puraxel .smartlux_intro .ttl_02.background-color-black {
    background: #000000;
}

.plasma-puraxel .smartlux_intro .text-color-white {
    color: white;
}

.plasma-puraxel .smartlux_intro .ttl {
    width: 100%;
    color: #364e96;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
    margin: 0 auto;
}

.product-page .lr_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-page .lr_box .item_lr_box {
    width: 45%;
    padding: 0px;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box.text-center {
    text-align: -webkit-center;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box .wp-block-image.img_border img {
    border: solid 1px #CBCBCB;
    width: 80%;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box .wp-block-image img {
    width: 100%;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box .hositsu {
    position: relative;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box p {
    text-align: left;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box .width-80 {
    width: 80%;
}

.plasma-puraxel .smartlux_intro .lr_box .item_lr_box .hositsu .hositsutext {
    padding: 30px;
    padding-top: 50px;
    font-size: 80%;
    color: #000000;
    text-align: left;
    line-height: 1.8;
    position: absolute;
    top: 0;
}

.plasma-puraxel .smartlux_intro .ttl_03 {
    width: 90%;
    background: #A1B9C6;
    margin: 0 auto;
    padding: 8px;
    letter-spacing: 1px;
    border-radius: 200px;
}

.plasma-puraxel .smartlux_intro .column_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
}

.plasma-puraxel .smartlux_intro .column_area .temp {
    width: 40%;
    margin: 20px 30px 40px;
    text-align: left;
}

.plasma-puraxel .smartlux_intro .column_area .temp_ba {
    padding: 5px;
}

.plasma-puraxel .smartlux_intro .column_area .temp .wp-block-group img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.plasma-puraxel .smartlux_intro .column_area .temp .wp-block-group {
    position: relative;
}

.plasma-puraxel .smartlux_intro .column_area .temp .temp_ttl {
    background-color: #F96F71;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.plasma-puraxel .smartlux_intro .column_area .temp .temp_ttl.background-brown {
    background-color: #693F34;
}

.plasma-puraxel .smartlux_intro .column_area .temp .temp_ttl.background-blue {
    background-color: #3DABDD;
}

.plasma-puraxel .smartlux_intro .column_area .temp .temp_ttl.background-brown-light {
    background-color: #B78B84;
}

.plasma-puraxel .smartlux_intro .column_area .temp .temp_ttl.background-black {
    background-color: #222536;
}

.plasma-puraxel .smartlux_intro .ttl_04 {
    width: 90%;
    background: #777777;
    margin: 0 auto;
    padding: 8px;
    letter-spacing: 1px;
    border-radius: 200px;
}

.plasma-puraxel .smartlux_intro .column_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 30px;
}

.plasma-puraxel .smartlux_intro .column_two .temptest {
    width: 45%;
    margin: 10px;
}

.plasma-puraxel .smartlux_intro .column_two .temptest.text-center {
    text-align: -webkit-center;
}

.plasma-puraxel .smartlux_intro .column_two .temptest img {
    width: 50%;
}

.plasma-puraxel .smartlux_intro .ttl_ba_02 {
    width: 100%;
    background-color: #42639C;
    margin: 0 auto;
    padding: 10px;
}

.plasma-puraxel .smartlux_intro .ttl_ba_02.background-change {
    background-color: #708CB0;
}

.plasma-puraxel .smartlux_intro .ttl_05 {
    width: 100%;
    background: #46467D;
    margin: 0 auto;
    padding: 10px;
    letter-spacing: 1.5px;
    border-radius: 200px;
    font-size: 120%;
}

.product-page .product-information.background-black {
    width: 100%;
    background-color: #282828;
    margin-top: 35px;
}

.plasma-puraxel .smartlux_intro .ttl_spec {
    width: 100%;
    background: #B4B4B4;
    margin: 0 auto;
    padding: 8px;
}

.plasma-puraxel .smartlux_intro .ttl_spec .text-color-black {
    color: #000000;
}

.plasma-puraxel .smartlux_intro .spec_bg {
    position: relative;
}

.plasma-puraxel .smartlux_intro .spec_bg .lr_box {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plasma-puraxel .smartlux_intro .spec_bg .item_lr_box {
    width: 85%;
    height: auto;
    padding: 0px;
}

.plasma-puraxel .smartlux_intro .spec_bg .item_lr_box .table_puraxel {
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
    opacity: 65%;
    width: 100%;
    color: #000000;
    margin-bottom: 10px;
    font-size: 12px;
}

.plasma-puraxel .smartlux_intro .spec_bg .item_lr_box .table_puraxel th {
    background: #A28581;
    color: #ffffff;
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}

.plasma-puraxel .smartlux_intro .spec_bg .item_lr_box .table_puraxel thead {
    border: none;
}

.plasma-puraxel .smartlux_intro .spec_bg .item_lr_box .table_puraxel tbody tr td {
    text-align: left;
}

.product-page .product-information-item .cip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-page .product-information-item .cip .cip_item {
    width: calc(100% / 5 - 10px);
}

.product-page .product-information-item .cip .cip_item .cip_txt {
    padding: 4px 10px;
    margin: 0;
    background: #fef4f7;
    font-size: 13px;
}

.plasma-esthelux .esthelux_intro {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.plasma-esthelux .esthelux_intro .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
}

.plasma-esthelux .esthelux_intro .inner .custom-img-width-35 img {
    width: 35%;
}

.plasma-esthelux .esthelux_intro .inner .custom-img-width-35 {
    text-align: -webkit-center;
}

.plasma-esthelux .esthelux_intro .inner .sma {
    font-size: 40px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    text-align: center;
}

.plasma-esthelux .esthelux_intro .inner .sub_catch {
    font-size: 20px;
    color: #2A2A2A;
}

.plasma-esthelux .esthelux_intro .inner .three_column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.plasma-esthelux .esthelux_intro .inner .three_column .item {
    width: 25%;
    padding: 0px;
}

.plasma-esthelux .esthelux_intro .inner .sub_catch_02 {
    font-size: 18px;
    color: #A13026;
    width: 80%;
    margin: 0 auto;
}

.plasma-esthelux .esthelux_intro .inner .three_column_02 {
    padding-bottom: 40px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.plasma-esthelux .esthelux_intro .inner .three_column_02 .item {
    width: 20%;
    padding: 0px;
}

.plasma-esthelux .esthelux_intro .inner .four_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plasma-esthelux .esthelux_intro .inner .item {
    width: 22%;
    padding: 0px;
}

.product-page .lr_box .item_lr_box .lr_box_ttl {
    color: #364e96;
    padding: 0.25em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
    font-weight: bold;
    font-size: 20px;
}

.product-page .text-left {
    text-align: left;
}

.product-page .lr_box .item_lr_box .image-left {
    float: left;
    width: 60%;
}

.product-page .lr_box .item_lr_box .image-right {
    float: right;
    width: 30%;
}

.product-page .ttl_01 {
    width: 100%;
    background: #318EBE;
    margin: 0 auto;
    padding: 5px;
    letter-spacing: 1.5px;
    border-radius: 0px;
    font-size: 100%;
    color: #FFFFFF;
}

.product-page .ttl_01 {
    width: 100%;
    background: #8B8C87;
    margin: 0 auto;
    padding: 6px;
    letter-spacing: 1.5px;
    border-radius: 0px;
    font-size: 120%;
    color: #FFFFFF;
}

.product-page .table_black {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    background: #fff;
    width: 90%;
    margin-bottom: 10px;
    font-size: 12px;
}

.product-page .table_black th {
    background: #787878;
    color: #ffffff;
    text-align: left;
    padding: 6px;
}

.product-page .table_black td {
    padding: 6px;
    text-align: left;
}

.product-page .table_black thead {
    border: none;
}

.product-page .table_black th:first-child {
    width: 15rem;
}

.product-page .ttl_03 {
    width: 85%;
    background: #B01F22;
    margin: 0 auto;
    padding: 6px;
    letter-spacing: 1.5px;
    border-radius: 0px;
    font-size: 120%;
    color: #FFFFFF;
}

.product-page .two_flex_esthelux {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.product-page .two_flex_esthelux .img {
    display: inline-block;
    width: 40%;
    margin: 10px;
    border: solid 1px #8F8F8F;
}

.product-page .four_column_02 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-page .four_column_02 .item{
    width: 22%;
    padding: 10px;
}