.plinic-product-page.product-page .product-page-top {
    background: #DC143C;
}

.plinic-product-page.product-page .product-page-top .product-page-top-left {
    color: #fff;
}

.product-information-plinic-effect {
    font-weight: bold;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
}

.product-information-plinic-effect .product-information-plinic-effect-title {
    font-size: 30px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    margin: 0 auto 20px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}

.product-information-plinic-effect .product-information-plinic-effect-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.plinic-effect-item {
    width: calc(100% / 4 - 30px);
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
    min-height: 180px;
    display: flex;
}

.plinic-effect-item .plinic-effect-item-title {
    font-size: 18px;
    text-align: center;
    white-space: break-spaces;
    max-width: 180px;
    margin: auto 0;
    width: 180px;
}

.plinic-effect-item .plinic-effect-item-image {
    position: absolute;
    top: 0;
    width: 180px;
}

.product-information-plinic-sympton {
    padding: 30px 30px 10px 180px;
    margin-bottom: 40px;
    position: relative;
    background: #25285a;
}

.product-information-plinic-sympton .product-information-plinic-sympton-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.product-information-plinic-sympton .product-information-plinic-sympton-image img {
    height: 100% !important;
}

.product-information-plinic-sympton .product-information-plinic-sympton-content {
    position: relative;
    z-index: 2;
}

.product-information-plinic-sympton .product-information-plinic-sympton-title {
    font-size: 18px;
    border-bottom: 1px solid #73b3eb;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.product-information-plinic-sympton .product-information-plinic-sympton-desc {
    font-size: 16px;
    margin-bottom: 40px;
    color: #fff;
}

.product-information-plasma-care .product-information-plasma-care-title {
    text-align: center;
}

.product-information-plasma-care .product-information-plasma-care-desc {
    
    font-size: 16px;
    margin-bottom: 40px;
}

.plasma-care-item {
    display: flex;
    margin-bottom: 40px;
}

.plasma-care-item .plasma-care-item-image {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 0;
}

.plasma-care-item .plasma-care-item-content {
    width: 50%;
}

.plasma-care-item .plasma-care-item-content .plasma-care-item-title {
    font-size: 18px;
    border-bottom: 1px solid #73b3eb;
    font-weight: bold;
    color: #3f88c9;
    margin-bottom: 20px;
}

.plasma-care-item .plasma-care-item-content .plasma-care-item-desc {
    font-size: 16px;
    margin-bottom: 40px;
}

.plinic-product-page .product-information .product-information-item .product-information-item-title {
    margin-bottom: 20px;
    border: none;
}

.plinic-product-page .product-information .product-information-item .product-information-item-title .product-information-item-title-header {
    background: #808080;
    display: block;
    padding: 2px 8px;
    margin: 0;
}

.plinic-product-page .product-information-item-title {
    margin-bottom: 50px;
    border: none;
}

.plinic-product-page .product-information-item-title .product-information-item-title-header {
    background: #808080;
    display: block;
    padding: 2px 8px;
    margin: 0;
    color: #fff;
    text-align: left;
}

.product-information-plinic-result .product-information-plinic-result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plinic-result-item {
    width: calc(100% / 4 - 20px);
}

.plinic-result-item .plinic-result-item-image {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.plinic-result-item .plinic-result-item-title {
    color: #3f88c9;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-size: 18px;
    border-bottom: 1px solid #73b3eb;
    font-weight: bold;
    margin-bottom: 20px;
}

.plinic-result-item .plinic-result-item-desc {
    font-size: 16px;
    margin-bottom: 40px;
    text-align: left;
}

.product-information-plinic-how {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.product-information-plinic-how .product-information-plinic-how-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10%;
}

.plinic-how-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.plinic-how-item .plinic-how-item-title {
    font-size: 16px;
    font-weight: bold;
}

.plinic-howuse-item {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.plinic-howuse-item .plinic-howuse-item-number {
    width: 10%;
    margin: 0 5%;
}

.plinic-howuse-item .plinic-howuse-item-content {
    width: 30%;
    text-align: center;
}

.plinic-howuse-item .plinic-howuse-item-title {
    font-weight: bold;
    font-size: 16px;
}

.plinic-howuse-item .plinic-howuse-item-desc {
    font-size: 16px;
}

.plinic-howuse-item .plinic-howuse-item-image {
    width: 40%;
}

.product-information-plinic-package .product-information-plinic-package-list {
    display: flex;
}

.plinic-product-page .product-catalog-area {
    padding: 50px 5%;
    margin-top: 50px;
}

.product-information-contrivance {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.product-information-contrivance .product-information-contrivance-header {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 40px;
}

.product-information-contrivance .product-information-contrivance-image {
    margin-bottom: 20px;
}

.product-information-contrivance .contrivance-item-desc {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.product-information-contrivance .product-information-contrivance-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.contrivance-item {
    width: calc(100% / 3 - 10px);
    padding: 20px 10px 20px 50px;
    background: #f9ded8;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #f3c1b4;
    border-radius: 8px;
    text-align: left;
}

.contrivance-item .contrivance-item-image {
    position: absolute;
    height: 100%;
    top: calc(50% - 35px);
    left: 0;
    width: 60px;
}

.contrivance-item .contrivance-item-text {
    z-index: 1;
    position: relative;
    font-size: 14px;
}

.r-face-page .product-information-symptom .product-information-symptom-header {
    position: relative;
}

.r-face-page .product-information-symptom .product-information-symptom-header .title-end {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
}

.product-information-media {
    display: flex;
}

.product-information-media .product-information-media-image {
    width: 40%;
    margin-bottom: 20px;
    border: 1px solid #f9ded8;
}

.product-information-media .product-information-media-content {
    width: 55%;
    margin-left: 5%;
    text-align: left;
}

.product-information-media .media-item-area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.product-information-media .media-item-area .media-item-area-header {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
    width: 70%;
    margin-right: 5%;
}

.product-information-media .media-item-area .media-item-area-header .media-item-area-title a {
    color: #0572B9;
    font-weight: bold;
    text-decoration: underline;
}

.product-information-media .media-item-area .media-item-area-header .media-item-area-content {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.product-information-media .media-item-area .media-item-area-image {
    border: 1px solid #f9ded8;
    margin-bottom: 10px;
    width: 25%;
}

.product-information-media .media-item-kakomi {
    margin-top: 0;
    padding: 60px 2%;
    border: 2px solid #f9ded8;
}

.product-information-media .media-item-kakomi .media-item-kakomi-title {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.product-information-media .media-item-kakomi .media-item-kakomi-content {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.r-face-page.product-page .product-page-top {
    background: #DC143C;
}

.r-face-page.product-page .product-page-top .product-page-top-left {
    color: #fff;
}

.r-face-catalog.product-catalog-area {
    padding: 0;
    width: calc(100% - 20px);
}

.product-intro-top-banner {
    border: solid 1px #CBCBCB;
    margin-bottom: 30px;
}

.product-intro-recuit {
    display: flex;
    justify-content: end;
}

.product-intro-recuit .product-intro-recuit-image {
    width: 365px;
    border: solid 1px #B3B3B3;
}

.product-intro-title-top {
    font-size: 120%;
    font-weight: bold;
    padding-top: 30px;
}

.celltite-page .product-intro .product-intro-inner .product-intro-logo {
    width: 300px;
}

.celltite-page .product-intro .product-intro-inner .product-intro-title {
    position: relative;
    display: inline-block;
    padding: 50px 80px;
    font-size: 40px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    color: #131313;
}

.celltite-page .product-intro .product-intro-inner .product-intro-title::before {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #737373;
    left: 0;
}

.celltite-page .product-intro .product-intro-inner .product-intro-title::after {
    right: 0;
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #737373;
}

.product-intro-title-gold {
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-intro-title-gold .product-intro-title-gold-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.product-intro-title-gold .product-intro-title-gold-image img {
    height: 100%;
    width: 100%;
}

.product-intro-title-gold .product-intro-title-gold-text {
    font-size: 24px;
    color: #FFFFFF;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
    white-space: break-spaces;
    z-index: 1;
    position: relative;
}

.product-intro-feature {
    margin-top: 50px;
}

.product-intro-feature .product-intro-feature-title {
    background-color: #65468E;
    padding: 5px;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 24px;
}

.product-intro-feature .product-intro-feature-content {
    margin-top: 60px;
    position: relative;
    padding-bottom: 50px;
}

.product-intro-feature .product-intro-feature-content .product-intro-feature-content-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.product-intro-feature .product-intro-feature-content .product-intro-feature-content-toumei {
    background: rgba(255, 255, 255, 0.850);
    position: relative;
    z-index: 1;
}

.product-intro-feature .product-intro-feature-content .product-intro-feature-content-toumei .product-intro-feature-content-image {
    width: 50%;
    margin: auto;
}

.product-intro-category .product-intro-category-title {
    background-color: #DE6276;
    padding: 5px;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 24px;
    margin-bottom: 30px;
}

.product-intro-category .product-intro-category-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product-intro-category .product-intro-category-item {
    display: flex;
    width: 23%;
    height: 150px;
    margin: 20px;
    padding: 30x;
    border-radius: 20px;
    font-size: 95%;
    letter-spacing: 20%;
    background: linear-gradient(to right, #B73378, #DE6276);
    justify-content: center;
    font-size: 16px;
}

.product-intro-category .product-intro-category-item-title {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: break-spaces;
    font-size: 120%;
}

.product-intro-category .product-intro-category-item-title a {
    color: #FFFFFF;
    font-weight: bold;
}

.product-intro-category .product-intro-category-title.color-orange {
    background-color: #D5754B;
}

.product-intro-category .product-intro-category-content-image {
    margin: 20px auto;
    width: 95%;
}

.product-information-solution {
    padding-top: 50px;
}

.product-information-solution .product-information-solution-title {
    background-color: #443191;
    margin: 0 auto 30px;
    color: #FFFFFF;
    font-size: 110%;
    padding: 10px;
    font-weight: bold;
}

.product-information-solution .product-information-solution-list {
    width: 95%;
    margin: auto;
}

.solution-item {
    margin-top: 10px;
}

.solution-item .solution-item-title {
    background-color: #7C62B1;
    text-align: left;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 7px;
}

.solution-item .solution-item-desc {
    text-align: left;
    font-size: 95%;
    color: #1D1D1D;
    margin-top: 10px;
}

.product-information-solution-component {
    padding-bottom: 100px;
}

.melatite-page.celltite-page .product-intro .product-intro-inner .product-intro-title {
    color: #737373;
}

.product-intro-content .product-intro-content-text {
    font-size: 18px;
    color: #234283;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}

.product-intro-content .product-intro-content-title {
    font-size: 30px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    color: #204285;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 auto 10px;
    text-align: center;
}

.product-intro-content .product-intro-content-desc {
    font-size: 20px;
    padding: 10px 0 50px;
    white-space: break-spaces;
}

.product-intro-content .product-intro-content-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.product-intro-content .intro-content-item {
    font-size: 16px;
    width: 15%;
    padding: 0px;
    position: relative;
}

.product-intro-content .intro-content-item-image-mark {
    width: 5%;
}

.product-intro-content .product-intro-content-detail .intro-content-item-image-mark img {
    width: 20%;
    margin-top: 70px;
}

.product-intro-content .intro-content-item .intro-content-item-image {
    margin-bottom: 20px;
}

.product-intro-content .intro-content-item .intro-content-item-text {
    font-size: 95%;
    color: #204285;
    font-weight: bold;
    padding: 0.5em 0;
    border-top: solid 2px #364e96;
    border-bottom: solid 2px #364e96;
}

.product-intro-content .content-new  .intro-content-item .intro-content-item-text {
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    color: #000A80;
    font-size: 22px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.melatite-page .product-intro-title-top {
    color: #000000;
}

.product-intro-content-area {
    padding-top: 70px;
    display: flex;
}

.product-intro-content-area .product-intro-content-area-image {
    width: 48%;
    text-align: left;
    padding: 0px;
}

.product-intro-content .product-intro-content-area .product-intro-content-area-image img {
    width: 50%;
    float: right;
}

.product-intro-content-area .product-intro-content-area-detail {
    width: 48%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    font-size: 16px;
}

.product-intro-content-area .product-intro-content-area-detail .content-area-detail-title {
    font-size: 150%;
    font-weight: bold;
    color: #000000;
}

.product-intro-content-area .product-intro-content-area-detail .content-area-detail-text {
    color: #656565;
    padding-top: 40px;
}

.product-intro-content-area .product-intro-content-area-detail .content-area-detail-footer {
    color: #3E90C5;
    font-size: 120%;
    font-weight: bold;
    padding-top: 20px;
}

.melatite-page .product-intro .product-intro-inner .product-intro-content {
    display: block;
}

.product-intro-content .content-drop .intro-content-item {
    position: relative;
}

.product-intro-content .content-drop .intro-content-item .intro-content-item-image {
    position: absolute;
    top: 0;
    left: 0;
}
.product-intro-content .content-drop {
    padding-top: 40px;
    min-height: 15vw;
}

.product-intro-content .content-drop .intro-content-item .intro-content-item-title {
    position: relative;
    z-index: 1;
    color: #3E90C5;
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.product-intro-content .content-drop .intro-content-item .intro-content-item-text {
    position: relative;
    z-index: 1;
    border: none;
    padding-top: 10px;
    font-weight: normal;
    color: #656565;
    width: 80%;
    text-align: center;
    margin: auto;

}

.product-intro-content-point {
    padding-top: 50px;
}

.product-intro-content-point .product-intro-content-point-detail {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.intro-content-point-item {
    position: relative;
    width: 30%;
    padding: 0;
}

.intro-content-point-item .intro-content-point-item-text {
    position: absolute;
    width: 80%;
    text-align: left;
    top: 70px;
    left: 10%;
    font-size: 85%;
}

.product-intro-video-youtube {
    margin: 0 auto;
    width: 640px;
    font-size: 95%;
    letter-spacing: 1.5px;
    padding-top: 25px;
}

.product-intro-video-youtube .product-intro-video-youtube-title {
    
    background-color: #18478F;
    display: block;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.product-intro-video-youtube .product-intro-video-youtube-content {
    margin: 0 auto;
    width: 640px;
    height: 400px;
}

.product-intro-pack {
    width: 640px;
    margin: 0 auto;
    padding: 20px;
}

.product-intro-pack-content {
    padding-top: 70px;
}

.product-intro-pack-content .product-intro-pack-content-item {
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
}

.product-intro-pack-content .product-intro-pack-content-item .product-intro-pack-content-item-left {
    position: relative;
    width: 45%;
}

.product-intro-pack-content .product-intro-pack-content-item .product-intro-pack-image-one {
    min-width: 50px;
    width: 50px;
}

.product-intro-pack-content .product-intro-pack-content-item .product-intro-pack-content-item-right {
    position: relative;
    width: 45%;
}

.product-intro-pack-content .product-intro-pack-content-item .product-intro-pack-title {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 45%;
    left: 45%;
    font-size: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.product-information-catch {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.product-information-catch .product-information-catch-title {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "ＭＳＰゴシック";
}

.product-information-catch .product-information-catch-title.color-green {
    color: #00890F;
    font-weight: bold;
}

.product-information-catch-desc {
    width: 60%;
    margin: auto;
    font-size: 80%;
}

.product-information-after {
    padding-top: 50px;
    font-size: 20px;
}

.product-information-after .product-information-after-title {
    font-weight: bold;
    color: #000000;
    font-size: 120%;
}

.product-information-after .product-information-after-image {
    margin: auto;
    width: 70%;
}

.product-information-how-to-use .product-information-how-to-use-title {
    position: relative;
    display: inline-block;
    padding: 50px 80px 0;
    font-size: 36px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    color: #203F7D;
}

.product-information-how-to-use .product-information-how-to-use-title::before {
    content: '';
    position: absolute;
    top: 70%;
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #737373;
    left: 0;
}

.product-information-how-to-use .product-information-how-to-use-title::after {
    content: '';
    position: absolute;
    top: 70%;
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #737373;
    right: 0;
}


.product-information-how-to-use .product-information-how-to-use-desc {
    font-size: 20px;
    padding: 30px 0 40px;
    display: flex;
    justify-content: center;
}

.product-information-how-to-use .how-to-use-desc-text {
    font-size: 20px;
}

.product-information-how-to-use .how-to-use-desc-text.color-red {
    font-size: 20px;
    color: #AE1E24;
    padding-left: 5px;
}

.product-information-after-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.after-content-item {
    width: 45%;
    padding: 0px;
    position: relative;
}

.after-content-item .after-content-item-text {
    position: absolute;
    width: 50%;
    text-align: left;
    top: 50%;
    left: 40%;
    font-size: 16px;
    transform: translate(-50%, -50%);
}

.product-information-poster {
    padding-top: 50px;
}

.product-information-poster .product-information-poster-title {
    background-color: #204285;
    width: 90%;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 10px;
}

.product-information-poster .product-information-poster-content {
    width: 20%;
    margin: auto;
}

.product-information-poster .product-information-poster-text {
    padding: 30px 0 20px;
    font-size: 95%;
    font-weight: bold;
    color: #1D1D1D;
}

.product-information-poster .product-information-poster-image {
    padding-bottom: 20px;
}

.product-information-poster .product-information-poster-button {
    font-size: 98%;
    color: #FFFFFF;
    background: #D32C16;
    border-radius: 10px;
    font-weight: bold;
    padding: 1em 0;
}

.product-information-poster .product-information-poster-button a {
    text-decoration: none;
    color: #FFFFFF;
}

.melatite-page .product-catalog-area {
    padding-top: 0;
}

.essence-page .product-page-top {
    position: relative;
    height: 370px;
}

.essence-page .product-page-top .product-top-background-image {
    height: 100%;
}

.essence-page .product-page-top .product-top-background-image img {
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

.essence-page .product-page-top .product-page-top-title {
    position: absolute;
    top: 170px;
    display: block;
    text-align: center;
    width: 100%;
}

.essence-page .product-page-top .product-page-top-title .product-page-top-header {
    font-size: 40px;
    color: #333333;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
}

.essence-page .product-page-top .product-page-top-title .product-page-top-sub {
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    color: #814e22;
    font-weight: bold;
    font-size: 18px;
}

.product-intro-eyec {
    padding-bottom: 60px;
}

.product-intro-eyec .product-intro-eyec-title .product-intro-eyec-title-image {
    width: 480px;
    margin: auto;
    padding-bottom: 20px;
}

.product-intro-eyec-title-text {
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    font-size: 14px;
    color: #957c27;
    font-weight: bold;
}

.product-intro-eyec .product-intro-eyec-title .product-intro-eyec-title-desc {
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
}

.product-intro-eyec .product-intro-eyec-content {
    display: flex;
    align-items: flex-start;
    padding-bottom: 40px;
}

.product-intro-eyec .product-intro-eyec-content .product-intro-eyec-content-image {
    width: 40%;
    margin-right: 5%;
}

.product-intro-eyec .product-intro-eyec-content .product-intro-eyec-content-item {
    width: 55%;
}

 .eyec-content-item-title {
    line-height: 1.4;
    padding: 20px 30px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.eyec-content-item-title::after {
    border-right: solid 1px #ada142;
    border-bottom: solid 1px #ada142;
    bottom: 0;
    right: 0;
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.eyec-content-item-title::before {
    border-left: solid 1px #ada142;
    border-top: solid 1px #ada142;
    top: 0;
    left: 0;
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.product-intro-eyec .product-intro-eyec-content .product-intro-eyec-content-item .eyec-content-item-desc {
    text-align: left;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-size: 16px;
    white-space: break-spaces;
}

.product-intro-cytokutyo {
    margin: 0 auto 40px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.product-intro-cytokutyo .product-intro-cytokutyo-image {
    width: 50%;
    padding-top: 40px;
}

.product-intro-cytokutyo .product-intro-cytokutyo-content {
    width: 50%;
    padding-top: 40px;
}

.product-intro-cytokutyo .product-intro-cytokutyo-title {
    line-height: 1.4;
    padding: 20px 30px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.product-intro-cytokutyo .product-intro-cytokutyo-title::after {
    border-right: solid 1px #ada142;
    border-bottom: solid 1px #ada142;
    bottom: 0;
    right: 0;
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.product-intro-cytokutyo .product-intro-cytokutyo-title::before {
    border-left: solid 1px #ada142;
    border-top: solid 1px #ada142;
    top: 0;
    left: 0;
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.product-intro-cytokutyo .cytokutyo-content-item {
    text-align: left;
    padding: 10px;
    background: #f1eed8;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

.product-intro-cytokutyo .cytokutyo-content-item-title {
    border-bottom: 1px solid #445f78;
    padding-bottom: 2px;
    display: inline-block;
}

.product-intro-cytokutyo .cytokutyo-content-item-desc {
    white-space: break-spaces;
}

.product-intro-cell {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #ada142;
    padding: 10px;
    margin-bottom: 20px;
}

.product-intro-cell .product-intro-cell-image {
    width: 40%;
    margin-bottom: 0;
}

.product-intro-cell .product-intro-cell-image img {
    margin-bottom: 0;
    width: 90%;
}


.product-intro-cell .product-intro-cell-content {
    width: 60%;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

.product-intro-cell .product-intro-cell-content .product-intro-cell-content-title {
    font-weight: bold;
    color: #ada142;
    font-size: 18px;
}

.product-intro-cell .product-intro-cell-content .product-intro-cell-content-header {
    font-weight: bold;
    background: #ada142;
    font-size: 13px;
    padding: 2px;
    text-align: center;
    color: #ffffff;
}

.product-intro-cell .product-intro-cell-content .product-intro-cell-content-desc {
    padding: 10px 0;
    
}

.product-intro-cell .product-intro-cell-content .product-intro-cell-content-info-title {
    margin-top: 20px;
    color: #ada142;
    font-size: 14px;
}

.product-intro-cell .product-intro-cell-content .product-intro-cell-content-info-text {
    font-size: 14px;
    white-space: break-spaces;
}

.product-intro-pro-date .product-intro-pro-date-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.product-intro-pro-date .product-intro-pro-date-content {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.product-intro-pro-date .product-intro-pro-date-content .product-intro-pro-date-content-image {
    width: calc(50% - 10px);
}

.intro-content-pro-date-kakomi-text {
    margin: 0 auto 40px;
    max-width: 1000px;
    border: 2px dotted #ded18c;
    border-radius: 4px;
    padding: 10px 14px;
    font-size: 12px;
    background: #efe9e3;
    text-align: left;
}

.product-recommend-header {
    margin: 0;
    padding: 50px 0 0;
    text-align: center;
}

.product-recommend-header .product-recommend-header-title {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    font-family: Roboto, Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    font-size: 30px;
    color: #656565;
}

.product-recommend-header .product-recommend-header-title::before {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 160px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7A7A7A;
    border-radius: 4px;
}

.product-recommend-header .product-recommend-header-text {
    font-size: 20px;
    color: #ada142;
    margin-bottom: 40px;
}

.product-recommend-content .product-recommend-item {
    position: relative;
    display: flex;
    padding-left: 150px;
    margin-bottom: 60px;
    border-bottom: 1px solid #656565;
    padding-bottom: 40px;
}

.product-recommend-content .product-recommend-item.product-recommend-item-sonocare {
    padding-left: 0;
    padding-right: 150px;
}

.product-recommend-content .product-recommend-item .product-recommend-item-background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-bottom: 40px;
}

.product-recommend-content .product-recommend-item.product-recommend-item-sonocare .product-recommend-item-background {
    right: 0;
    left: auto;
}

.product-recommend-content .product-recommend-item .product-recommend-item-background img {
    height: 100%;
}

.product-recommend-content .product-recommend-item .product-recommend-item-content {
    width: 48%;
    margin-right: 2%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.product-recommend-content .product-recommend-item .product-recommend-item-content-right {
    text-align: left;
    width: 48%;
    padding-left: 2%;
    border-left: 1px dashed #ded18c;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.product-recommend-content .product-recommend-item.product-recommend-item-sonocare .product-recommend-item-content-right {
    width: 38%;
    margin-right: 10%;
}

.product-recommend-item .product-recommend-item-content .product-recommend-item-content-title {
    font-weight: bold;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    color: #dd2679;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.product-recommend-item .product-recommend-item-content .product-recommend-item-content-text {
    font-size: 14px;
    text-align: left;
}

.product-recommend-item .product-recommend-item-content .product-recommend-item-content-desc {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    color: #656565;
    margin-bottom: 20px;
}

.product-recommend-item .recommend-item-content-list {
    display: flex;
}

.product-recommend-item .recommend-item-content-list-button {
    width: 50%;
}

.product-recommend-item .recommend-item-plamingo {
    padding: 4px;
    background: #d67ffd;
    font-size: 14px;
    margin-bottom: 4px;
    color: #ffffff;
}

.product-recommend-item .recommend-item-button {
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 4px;
    background: #ffffff;
    display: block;
    border: 5px solid #d67ffd;
    color: #000000;
    padding: 8px;
    cursor: pointer;
}

.product-recommend-item .recommend-item-button:hover {
    background: #d67ffd;
    color: #ffffff;
}

.product-recommend-item .recommend-item-button:hover a {
    color: #ffffff;
}

.product-recommend-item .recommend-item-button:hover::after {
    color: #ffffff;
}

.product-recommend-item .recommend-item-button::after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
    color: #000000;
}

.product-recommend-item .recommend-item-content-list-image {
    width: 50%;
}

.product-recommend-item-content-right .product-recommend-item-content-right-detail {
    margin-bottom: 20px;
}

.product-recommend-item-content-right .recommend-item-content-right-title {
    font-size: 16px;
    color: #d67ffd;
}

.product-recommend-item-sonocare .recommend-item-content-list .recommend-item-content-list-button .recommend-item-plamingo {
    background: #7fbafd;
}

.product-recommend-item-sonocare .recommend-item-content-list .recommend-item-content-list-button .recommend-item-button {
    border: 5px solid #7fbafd;
}

.product-recommend-item-sonocare .product-recommend-item-content-right .recommend-item-content-right-title {
    color: #7fbafd;
}

.product-recommend-item-pro .recommend-item-content-list .recommend-item-content-list-button .recommend-item-plamingo {
    background: #61c568;
}

.product-recommend-item-pro .recommend-item-content-list .recommend-item-content-list-button .recommend-item-button {
    border: 5px solid #61c568;
}

.product-recommend-item-pro .product-recommend-item-content-right .recommend-item-content-right-title {
    color: #61c568;
}

.product-recommend-item-sonocare.product-recommend-item .recommend-item-button:hover {
    background: #7fbafd;
}

.product-recommend-item-pro.product-recommend-item .recommend-item-button:hover {
    background: #61c568;
}

.product-intro-kouzo {
    padding-bottom: 60px;
}

.product-intro-kouzo .product-intro-kouzo-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.product-intro-kouzo-item {
    width: calc(100% / 2 - 30px);
    text-align: left;
}

.product-intro-kouzo-item .kouzo-item-desc {
    text-align: left;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.product-intro-kouzo-item .kouzo-item-image {
    padding-bottom: 10px;
}

.product-intro-kouzo .kouzo-detail {
    padding-bottom: 40px;
}
.product-intro-kouzo .kouzo-detail .product-intro-kouzo-item.kouzo-detail-image {
    width: 40%;
    margin-right: 5%;
}

.product-intro-kouzo .kouzo-detail .product-intro-kouzo-item {
    width: 55%;
}

.kouzo-detail .kouzo-item-detail-title {
    color: #2E6AB1;
    font-weight: bold;
    text-align: left;
    line-height: 1.8rem;
}

.kouzo-detail .kouzo-item-detail-desc {
    text-align: left;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-size: 16px;
}

.kouzo-detail .product-intro-kouzo-item-list {
    padding-bottom: 1rem;
}

.kouzo-detail .product-intro-kouzo-item-list .kouzo-item-list-desc {
    display: flex;
}

.kouzo-detail .product-intro-kouzo-item-list .kouzo-item-list-desc .kouzo-item-list-desc-image {

    width: 14px;
    height: 20px;
    display: flex;
    padding: 3px 0;
}

.kouzo-detail .product-intro-kouzo-item-list .kouzo-item-list-desc .kouzo-item-list-desc-text {
    padding-left: 6px;
}

.product-intro-kouzo-test-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #1da3dd;
}

.product-intro-kouzo-test-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.product-intro-kouzo-test-content .kouzo-item-test-image {
    width: calc(100% / 2 - 20px);
    padding-bottom: 20px;
}

.product-intro-kouzo-test-table {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.product-intro-kouzo-test-table .kouzo-test-table-title {
    width: 4.5rem;
    font-size: 14px;
}

.product-intro-kouzo-test-table .kouzo-test-table-desc {
    width: calc(100% - 4.5rem);
    font-size: 14px;
    white-space: break-spaces;
}

.product-default-pdf {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 25px 0 0;
    width: 100%;
    box-sizing: border-box;
}

.product-default-pdf.pdf-new {
    background: #f1f1f1;
    padding: 25px 0;
}

.product-default-pdf .product-default-pdf-header {
    display: inline-block;
    position: absolute;
    top: -6px;
    margin: 0;
    padding: 10px 0 7px;
    z-index: 2;
    width: 40px;
    text-align: center;
    color: white;
    font-size: 13px;
    background: #2e6ab1;
    border-radius: 2px 0 0 0;
    right: 250px;
}

.product-default-pdf .product-default-pdf-header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #2e6ab1;
}

.product-default-pdf .product-default-pdf-header::before {
    position: absolute;
    content: '';
    top: 0;
    right: -5px;
    border: none;
    border-bottom: solid 6px #1f4572;
    border-right: solid 5px transparent;
}

.product-default-pdf .product-default-pdf-content {
    width: 60%;
    max-width: 700px;
    margin: auto;
}

.product-default-pdf .product-default-pdf-detail {
    border: 1px solid #2e6ab1;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-image {
    width: 33%;
    margin-right: 7%;
}

.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-content {
    width: 60%;
    margin-top: 10px;
    font-size: 14px;
}

.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-content-title {
    background: #2eb131;
    color: #ffffff;
    padding: 4px 20px;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-content-text {
    font-size: 14px;
    white-space: break-spaces;
}

.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-content-button {
    background: #3a7893;
    display: inline-block;
    width: 100px;
    margin: 40px 10px 0;
    padding: 4px 8px;
    font-size: 14px;
    color: #ffffff;
}
.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-content-button a {
    color: #ffffff;
}

.product-default-pdf .product-default-pdf-detail .product-default-pdf-detail-content-button a::after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: 0.5rem;
    font-weight: 900;
    font-size: 12px;
}

.product-default-pdf.pdf-linkbox .product-default-pdf-content {
    width: calc(60% / 0.9);
    max-width: 700px;
}

.product-doctor {
    background: #effffe;
    margin: 20px 0;
    padding: 20px 2%;
}

.product-doctor .product-doctor-inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
}

.product-doctor .product-doctor-inner .product-doctor-list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.product-doctor-item {
    width: calc(100% / 3 - 20px);
    background: #ffffff;
    border: 1px solid #d8eeed;
    border-radius: 4px;
    padding: 10px;
}

.product-doctor-item .product-doctor-item-header {
    display: flex;
    margin-bottom: 20px;
}

.product-doctor-item .product-doctor-item-header-image {
    width: 100px;
    margin-right: 20px;
    min-width: 100px;
}

.product-doctor-item .doctor-item-header-title {
    font-size: 16px;
    font-weight: bold;
    color: #2E6AB1;
}

.product-doctor-item .product-doctor-position-item {
    display: flex;
}

.product-doctor-item .product-doctor-position-item .product-doctor-position-image {
    width: 12px;
    margin: 4px;
    min-width: 12px;
    display: flex;
    max-height: 12px;
}

.product-doctor-item .product-doctor-position-item .doctor-position-title {
    font-size: 12px;
    margin-bottom: 0;
}

.product-doctor-item .doctor-item-header-desc {
    font-size: 16px;
}

.canal-series-page .product-default {
    padding-bottom: 50px;
}

.product-pdf-inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
}

.product-canal-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
}

.product-canal-item {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2 - 10px);
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 10px 2%;
    margin-bottom: 20px;
}

.product-canal-item .product-canal-item-left {
    width: 36%;
    margin-right: 2%;
}

.product-canal-item .product-canal-item-left .product-canal-item-left-image {
    width: 90%;
    margin: 0 auto 10px;
}

.product-canal-item .product-canal-item-left .product-canal-item-left-button {
    background: #3a7893;
    width: 72px;
    margin: 2px auto 20px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.product-canal-item .product-canal-item-left .product-canal-item-left-button a {
    color: #ffffff;
}

.product-canal-item .product-canal-item-right {
    width: 62%;
    font-size: 16px;
}

.product-canal-item .product-canal-item-right .product-canal-item-right-title {
    text-align: left;
    font-weight: bold;
}

.product-canal-item .product-canal-item-right .product-canal-item-right-text {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    color: #708090;
}

.essence-page .product-page-top .product-page-top-title .product-page-top-header.color-white {
    color: #fff;
}

.essence-page .product-page-top .product-page-top-title .product-page-top-sub.color-white {
    color: #fff;
}

.product-intro-content-list-box {
    margin-top: 20px;
    border: 1px solid #2e6ab1;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-intro-content-list-box .content-list-box-left {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 0;
}

.product-intro-content-list-box .content-list-box-left .product-intro-content-image {
    margin-top: 0 !important;
}

.product-intro-content-list-box .content-list-box-right {
    width: 50%;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-title {
    background: #2eb131;
    color: #ffffff;
    padding: 2px 20px;
    font-size: 14px;
    width: fit-content;
    margin-bottom: 10px;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-desc {
    white-space: break-spaces;
    font-size: 14px;
    text-align: start;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-desc span {
    color: #2792c3;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-desc.sub-text {
    font-size: 86%;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-button {
    background: #3a7893;
    display: inline-block;
    width: 100px;
    margin: 20px 10px 0;
    padding: 4px 8px;
    font-size: 14px;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-button a {
    color: #ffffff;
}

.product-intro-content-list-box .content-list-box-right .content-list-box-right-button a::after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
}

.product-information-plinic-effect .product-information-plinic-effect-title {
    white-space: break-space;
}

.canalsoft-product-page .plinic-effect-item .plinic-effect-item-title {
    color: #F97706;
    z-index: 1;
}

.product-page.canalsoft-product-page .product-page-top .product-page-top-left {
    color: #fff;
}

.product-page.canalsoft-product-page .product-page-top {
    background-color: #000000;
}

.product-information-symptom-title {
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-information-symptom-title .product-information-symptom-title-desc {
    color: #F97706;
}

.symptom-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-top: 10px;
}
 
.symptom-item .symptom-item-image {
    width: 42%;
    margin-right: 2%;
}
 
.symptom-item .symptom-item-content {
    width: 56%;
}
 
.symptom-item .symptom-item-title {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #707070;
}
 
.symptom-item .symptom-item-desc {
    white-space: break-space;
}
 
.symptom-item .symptom-item-content-earthtoha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
}
 
.symptom-item .symptom-item-content-earthtoha .symptom-item-title {
    background: #0150ac;
    border-radius: 4px;
    color: #ffffff;
    width: 30%;
    margin-right: 3%;
    text-align: left;
    padding: 4px;
    height: 34px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.symptom-item .symptom-item-content-earthtoha .symptom-item-desc {
    width: 67%;
    margin-bottom: 10px;

}

.product-information-example-content .example-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-information-example-content .example-item .example-item-image {
    width: calc(100% / 3 - 20px);
    margin: 0 auto 30px;
}

.product-information-example-content .example-item-desc {
    text-align: right;
}

.product-information-example-content .example-item-content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.product-information-example-content .example-item-content .example-item-content-image {
    width: 54%;
    margin-right: 4%;
}

.product-information-example-content .example-item-content .example-item-content-list-right {
    width: 42%;
}

.product-information-example-content .example-item-content .example-item-title {
    display: flex;
    border-bottom: 1px solid #707070;
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}

.product-information-instagram-header .product-information-instagram-header-title {
    border: 2px solid #0150ac;
    margin: 10px 0 20px;
    padding: 10px;
    white-space: break-spaces;
    text-align: center;
}

.product-information-instagram-header .product-information-instagram-header-title span {
    color: #0572B9;
    font-weight: bold;
    text-decoration: underline;
}

.product-information-instagram-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.instagram-body-item {
    width: calc(100% / 4 - 10px);
    text-align: left;
}

.instagram-body-item .instagram-body-item-desc {
    width: 100%;
    margin: 6px 0;
    font-size: 14px;
    white-space: break-spaces;
}
