.product-page .intro {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.product-page .intro .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
    display: block;
}

.product-page .intro .inner .wp-block-image.intro-img img {
    width: 1030px;
    margin: 0 auto;
}

.product-page .intro .inner .wp-block-image {
    display: block;
    text-align: -webkit-center;
    width: 100%;
}

.product-page .intro .inner .wp-block-image.logo_title img {
    margin-bottom: 20px;
    width: 23%;
}

.product-page .intro .inner .catch {
    font-size: 42px;
    margin: 0 auto 40px;
    color: #333333;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
}

.rafos-sense .division {
    max-width: 800px;
    margin: 0 auto;
}

.product-page .division .inner {
    width: 80%;
    display: block;
}

.product-page .box_center {
    margin: 40px 0 auto !important;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-page .box_center .wp-block-button__link {
    width: 240px;
    display: block;
    padding: 15px;
    border: 1px solid #707070;
    background: #ffffff;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
    color: #000;
}

.rafos-sense .box_center .wp-block-button__link::after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
}

.insta_box {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.insta_box .width-92 {
    width: 92% !important;
}

.insta_box .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
    display: block;
}

.insta_box .inner .insta_box_title {
    font-weight: bold;
    text-align: left;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.insta_box .inner .insta_box_title .insta_txt {
    background: #656565;
    color: #ffffff;
    padding: 8px 12px;
    margin-right: 8px;
    display: inline-block;
}

.insta_box .inner .insta_box_title .btn_more {
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}

.insta_box .inner .insta_box_title .btn_more img {
    width: 30px;
}

.insta_box .inner .insta_modal {
    margin: 0 auto 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.insta_box .inner .insta_modal .wp-block-image {
    width: calc(100% / 6 - 10px);
    margin-bottom: 20px;
    margin-right: 10px;
}

.insta_box .inner .insta_box_title.video {
    margin-top: 30px;
}

.insta_box .inner .insta_box_video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.insta_box .inner .insta_box_video .insta_box_video_item {
    width: calc(100% / 3 - 10px);
    text-align: left;
    margin: 0 0 30px;
    padding: 10px;
    background: #eeeeee;
}

.insta_box .inner .insta_box_video .insta_box_video_item .container {
    position: relative;
    width: 100%;
}

.insta_box .inner .insta_box_video .insta_box_video_item .container .video_iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
}

.insta_box .inner .btn_area {
    margin: 40px auto;
    width: 80%;
}

.insta_box .inner .btn_area.width-100 {
    margin: 40px auto;
    width: 100%;
}

.insta_box .inner .btn_area .btn_area_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.insta_box .inner .btn_area .btn_area_list .wp-block-image {
    width: calc(100% / 2 - 20px);
    margin: 10px;
}

.product-page .intro .inner .herfbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.product-page .intro .inner .herfbox .herf_l {
    margin-bottom: 20px;
    width: 50%;
    margin-right: 7%;
}

.product-page .intro .inner .herfbox .herf_l .read {
    margin-bottom: 20px;
    text-align: left;
}

.product-page .intro .inner .herfbox .herf_l .read .read_content {
    text-align: justify;
    line-height: 1.8;
}

.product-page .intro .inner .herfbox .herf_l .read .selespoint {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 360px;
}

.product-page .intro .inner .herfbox .herf_l .read .selespoint .selespoint_item {
    border: 2px solid #dc143c;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 120%;
    color: #979797;
}

.product-page .intro .inner .herfbox .herf_l .read .rafox_title {
    font-weight: bold;
}

.product-page .intro .inner .herfbox .herf_l .read .rafox_title:before {
    content: '■';
    font-size: 1.2rem;
    margin-right: .2rem;
}

.product-page .intro .inner .herfbox .herf_l .read .list_maru {
    line-height: 1.8;
}

.product-page .intro .inner .herfbox .herf_r {
    margin-bottom: 20px;
    width: 43%;
}

.product-page .intro .inner .herfbox .herf_l .wp-block-image img {
    width: 80%;
    margin: 0 auto;
}


.product-page .intro .inner .wp-block-image img {
    width: 80%;
    margin: 0 auto;
}

.product-page .intro .inner .table_black {
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
}

.product-page .intro .inner .table_black thead tr th {
    background: #000000;
    color: #ffffff;
    text-align: left;
    padding: 4px;
}

.product-page .intro .inner .table_black tbody tr td {
    padding: 4px;
    text-align: left;
}

.product-page .intro .inner .table_black figcaption {
    display: none;
}

.product-page .intro .inner .txt_rgt {
    text-align: right;
    font-size: 14px;
}

.product-page .intro .inner .btn_toi {
    font-size: 16px;
    text-align: -webkit-center;
    width: 100%;
    margin-top: 40px;
}

.product-page .intro .inner .btn_toi .wp-block-button__link {
    width: 240px;
    display: block;
    padding: 15px;
    border: 1px solid #707070;
    background: #ffffff;
    text-align: center;
    margin: 0 auto;
    color: black;
    border-radius: 0px;
}

.product-page .intro .inner .btn_toi :hover {
    opacity: 0.7;
}

.product-page .intro .inner .btn_toi .wp-block-button__link:after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
}

.product-page .Default {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.rafos-tera .Default .pdf_box {
    padding: 50px 0;
    text-align: center;
    margin: 0 auto;
}

.product-page .Default .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
    display: block;
    text-align: left;
}

.rafos-tera .Default .pdf_box .kakomi_rf {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 4%;
    border: 2px solid #ba1c22;
    display: flex;
    flex-wrap: wrap;
}

.rafos-tera .Default .pdf_box .kakomi_rf .catch_sim {
    font-weight: bold;
    text-align: left;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
    margin-bottom: 20px;
    width: 100%;
}

.rafos-tera .Default .pdf_box .kakomi_rf .catch_sim_txt_l {
    text-align: left;
    width: 68%;
}

.rafos-tera .Default .pdf_box .kakomi_rf .wp-block-image {
    width: 30%;
    margin-left: 10px;
}

.rafos-tera .Default .pdf_box .mb40 .wp-block-image {
    width: 80%;
}

.rafos-tera .Default .pdf_box .tera_acce {
    margin-bottom: 20px;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item {
    width: calc(100% / 2 - 10px);
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .no_title {
    display: flex;
    border-bottom: none;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    text-align: left;
    background: #ba1c22;
    color: #ffffff;
    padding: 2px 8px;
    align-items: center;
    height: 30px;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .no_title .stt {
    padding: 7px;
    background: #000000;
    margin-right: 8px;
    width: 30px;
    text-align: center;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content .width-60 {
    width: 60%;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content .content_txt {
    color: #ba1c22;
    font-weight: bold;
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content img {
    margin-bottom: 20px;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content .kokodakeyoko {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content .kokodakeyoko .kokodakeyoko_l {
    width: 48%;
    margin-top: 90px;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.rafos-tera .Default .pdf_box .tera_acce .tera_acce_list .tera_acce_item .content .kokodakeyoko .kokodakeyoko_r {
    width: 48%;
    margin-left: 4%;
}

.rafos-tera .Default .pdf_box .inner .option_access {
    font-size: 20px;
    margin-bottom: 1rem;
}

.rafos-tera .Default .pdf_box .inner .sub_option_access {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
}

.rafos-tera .Default .pdf_box .inner .bar_contens2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-top: 50px;
    padding-bottom: 30px;
}

.rafos-tera .Default .pdf_box .inner .bar_contens2 .bar_box_left {
    margin: 10px;
    width: 60%;
}

.rafos-tera .Default .pdf_box .inner .bar_contens2 .bar_box_left img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.rafos-tera .Default .pdf_box .inner .bar_contens2 .bar_box_right {
    margin: 10px;
    width: 60%;
}

.rafos-tera .Default .pdf_box .inner .bar_contens2 .bar_box_right img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.rafos-tera .Default .pdf_box .inner .option_bar_content {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.rafos-tera .Default .pdf_box .inner .bar_contens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 50px;
    padding-bottom: 30px;
}

.rafos-tera .Default .pdf_box .inner .bar_contens .bar_box_left {
    margin: 10px;
    width: 60%;
    text-align: left;
}

.rafos-tera .Default .pdf_box .inner .bar_contens .bar_box_left .bar_ttl {
    font-size: 24px;
    text-align: left;
    color: #000000;
}

.rafos-tera .Default .pdf_box .inner .bar_contens .bar_box_left .bar_text {
    color: #000000;
}

.rafos-tera .Default .pdf_box .inner .bar_contens .bar_box_right2 {
    margin: 10px;
    width: 35%;
    padding-left: 70px;
}

.rafos-tera .Default .pdf_box .pd15 {
    width: 320px;
    margin: 0 auto;
}

.rafos-tera .Default .pdf_box .pd15 .box_center {
    margin: 0 auto;
}

.rafos-tera .Default .pdf_box .pd15 .box_center .toi {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rafos-tera .Default .pdf_box .pd15 .box_center .toi .wp-block-button__link {
    width: 240px;
    display: block;
    padding: 15px;
    border: 1px solid #707070;
    background: #ffffff;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
    color: #000;
}

.rafos-tera .Default .pdf_box .pd15 .box_center .toi .wp-block-button__link::after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
}

.rafos-tera .Default .pdf_box .pd15 .box_center .toi .wp-block-button__link img {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
}

.rafos-tera .Default .pdf_box .pd15 .wp-block-image.img_bt {
    display: block;
    width: 80%;
    max-width: 800px;
    margin: 40px auto 10px;
}

.rafos-tera .Default .pdf_box .bnr_area {
    width: 80%;
    max-width: 800px;
    margin: 40px auto 10px;
}

.rafos-premium .intro {
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.product-page .inner {
    width: 80%;
    display: block;
}

.product-page .category-page-division .custom-width-100 {
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.product-page .category-page-division .custom-width-100 .custom-width-50 {
    width: 45%;
}

.product-page .youtube_ttl {
    margin: 0 auto;
    width: 640px;
    letter-spacing: 1.5px;
}

.product-page .youtube {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
}

.product-page .youtube .video_iframe {
    width: 640px;
    height: 400px;
}

.product-page .youtube_ttl .youtube_news_2 {
    background-color: #9DC8C1;
    display: block;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.rafos-premium .youtube_news {
    background-color: #8F0B0D;
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.rafos-premium .youtube_news .txt_rgt {
    color: #FFFFFF;
    font-size: 80%;
}

.rafos-premium .youtube_r {
    margin: 0 auto;
    width: 640px;
    height: 360px;
}

.rafos-premium .video_iframe {
    margin: 0 auto;
    width: 640px;
    height: 360px;
}

.product-page .symptom {
    margin: 50px auto;
    width: 90%;
    max-width: 1120px;
}

.product-page .effect {
    margin: 50px auto;
    width: 90%;
    max-width: 1120px;
}

.product-page .effect .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
}

.product-page .effect .inner .catch {
    font-size: 28px;
    margin: 0 auto 40px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.product-page .effect .inner .list_ef {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product-page .effect .inner .list_ef .list_ef_txt {
    font-size: 18px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-page .effect .inner .list_ef_item {
    max-width: 1120px;
    width: calc(100% / 4 - 30px);
    margin-bottom: 20px;
    position: relative;
    text-align: -webkit-center;
}

.product-page .effect .inner .list_ef_item .wp-block-image {
    width: 170px;
}

.product-page .symptom .inner {
    padding: 0;
    width: 92%;
    margin: 0 auto;
    max-width: 1280px;
}

.product-page .symptom .inner .symptom_txt {
    margin-bottom: 20px;
    padding: 2px 8px;
    background: #656565;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.product-page .symptom .inner .bg_ye {
    background: #ADA142;
}

.product-page .symptom .inner .bg_red {
    background: #DC143C;
}

.product-page .symptom .rf_denkyoku {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-page .symptom .rf_denkyoku .rf_denkyoku_item {
    width: calc(100% / 3 - 20px);
    margin-bottom: 40px;
    border: 1px solid #656565;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
}

.product-page .symptom .rf_denkyoku .rf_denkyoku_item .item_txt_r {
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    border-bottom: 1px solid #707070;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #ADA142;
}

.product-page .symptom .rf_denkyoku .rf_denkyoku_item.two_narabi {
    width: calc(100% / 2 - 10px);
    margin-bottom: 40px;
}

.product-page .symptom .rf_denkyoku .rf_denkyoku_item.two_narabi_hori {
    width: calc(100% / 2 - 10px);
    margin-bottom: 40px;
    display: flex;
}

.product-page .symptom .rf_denkyoku .rf_denkyoku_item.two_narabi_hori .rf_denkyoku_item_l {
    width: 42%;
    margin-right: 3%;
}

.product-page .symptom .rf_denkyoku .rf_denkyoku_item.two_narabi_hori .rf_denkyoku_item_r {
    width: 55%;
}

.product-page .symptom .text_start {
    text-align: left;
}

.product-page .symptom .custom-width-70 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.rafos-cellcum .product-default .product-information-part .long_box .cl_label {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.rafos-cellcum .product-default .product-information-part .long_box .cl_label .cl_label_item_mode {
    margin-right: 8px;
    background: #c7ddff;
    padding: 2px 8px;
    border-radius: 4px;
}

.product-page .product-default .product-information-part .step_box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-page .product-default .product-information-part .step_box .step_box_txt_l {
    width: 32%;
    margin-right: 3%;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #daa520;
}

.product-page .product-default .product-information-part .step_box .step_box_txt_l:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 0 0 -25px;
    border: 20px solid transparent;
    border-top-color: #daa520;
    content: '';
}

.product-page .product-default .product-information-part .step_box .step_box_txt_r {
    width: 65%;
    margin-bottom: 60px;
    font-size: 16px;
    text-align: left;
    padding-top: 12px;
}

.product-page .product-default .product-information-part .img_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-page .product-default .product-information-part .bgaga_box .bgaga_box_txt {
    font-size: 16px;
    margin-bottom: 40px;
    text-align: left;
}

.product-page .product-default .product-information-part .bgaga_box .bgaga_box_item {
    display: flex;
    justify-content: space-between;
}

.product-page .product-default .product-information-part .bgaga_box .bgaga_box_item .bgaga_box_item_l {
    width: 63%;
}

.product-page .product-default .product-information-part .bgaga_box .bgaga_box_item .bgaga_box_item_l .bgaga_box_item_content {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.product-page .product-default .product-information-part .bgaga_box .bgaga_box_item .bgaga_box_item_l .bgaga_box_item_content .header_txt {
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    border-bottom: 1px solid #707070;
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}

.product-page .product-default .product-information-part .bgaga_box .bgaga_box_item .bgaga_box_item_r {
    width: 35%;
}

.product-page .product-default .product-information-part .img_box .wp-block-image {
    width: 42%;
    margin-right: 2%;
}

.product-page .product-default .product-information-part .img_box .wp-block-image.width-48 {
    width: 48%;
    margin-right: 2%;
}

.product-page .product-default .product-information-part .img_box .img_box_txt.width-50 {
    width: 50%;
    font-size: 16px;
}

.product-page .product-default.width-100 {
    width: 100%;
}

.product-page .product-default .product-information-part .img_box_txt {
    width: 56%;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 14px;
}

.product-page .product-default .product-information-part .img_box_txt.line-height-2 {
    font-size: 16px;
    line-height: 2;
}

.rafos-cellcum .product-default .product-information-part .rf_cellcum {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-items: stretch;
}

.rafos-cellcum .product-default .product-information-part .rf_cellcum .rf_cellcum_dl {
    width: calc(100% / 3 - 20px);
    margin-bottom: 40px;
    border: 1px solid #656565;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.rafos-cellcum .product-default .product-information-part .rf_cellcum .rf_cellcum_dl .rf_cellcum_dt {
    width: 58%;
}

.rafos-cellcum .product-default .product-information-part .rf_cellcum .rf_cellcum_dl .rf_cellcum_dd {
    width: 40%;
}

.rafos-cellcum .product-default .product-information-part .rf_cellcum .rf_cellcum_dl .rf_cellcum_dd .rf_cellcum_dd_header {
    font-weight: bold;
    border-bottom: 1px solid #707070;
    margin-bottom: 20px;
    font-family: Roboto, 'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}

.rafos-cellcum .product-default .product-information-part .rf_cellcum .rf_cellcum_dl .rf_cellcum_dd .rf_cellcum_dd_content {
    margin-bottom: 8px;
    list-style: disc;
    font-size: 14px;
}

.product-page .product-page-top.background-red {
    margin: 0;
    border-bottom: 1px solid #cccccc;
    background: #DC143C;
}

.product-page .product-page-top.background-yellow {
    margin: 0;
    border-bottom: 1px solid #cccccc;
    background: #ADA142;
}

.product-page .product-page-top .product-page-top-left.text-white {
    color: white;
}

.product-page .product-page-top .product-page-top-left .product-page-top-left-header.text-white {
    color: white;
}