.sliderText .marquee {
    margin: 0;
  }

.list-show-menu .gNaviChild {
  display: block;
}

.menu-home .logo-home {
  padding-top: 12px;
}

.wp-block-group.list-navi-base {
  display: none;
}

.list-show-menu  a {
  text-decoration: none;
}

.list-show-menu .navi-child-detail .navi-child-item .wp-block-paragraph {
  display: flex;
  justify-content: center;
}

.list-show-menu .is-layout-constrained > * {
  margin-block-start: 0;
}

.list-show-menu .navi-child-tab-2 .navi-child-tab-item .wp-block-paragraph {
  width: calc(100% / 3);
  margin-block-start: 0;
}

.list-show-menu .navi-child-tab-2 .wp-block-paragraph .navi-child-product-title {
  width: 100%;
}

.list-show-menu .navi-child-tab-new .wp-block-paragraph {
  width: 100%;
}

.list-show-menu .navi-child-item-link .navi-child-tab-item .wp-block-paragraph {
  width: 100%;
}

.list-show-menu .navi-child-detail .navi-child-item .wp-block-image img {
  height: 68px;
  width: 100%;
  object-fit: cover;
}

.section-menu .tab-show-detail-menu {
  display: block;
}

.section-menu .tab-show-detail-menu .gNaviChild {
  display: block;
}

.list-show-menu .navi-child-title-block {
  padding-left: 10px;
  width: calc(100% - 10px);
}

.list-show-menu .list-menu-product .navi-child-title-block {
  padding-left: 0;
}

.section-product .list-products .list-products-list .product-item {
  margin-block-start: 0;
}

.section-product .list-products .list-products-list .product-item .wp-block-paragraph {
  margin-block-start: 0;
}

.section-product .list-products .list-products-list {
  width: 100%;
  display: flex;
  transition: none;
  padding: 0 20px !important;
  margin-top: 0 !important;
}

.n2-ss-slider-frame.intrinsic-ignore {
  transform: none !important;
}

.section-product-new .product-news .product-new-slide .product-new-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0;
}

.section-product-new .product-news .product-new-slide .product-new-list .product-new-item {
  margin-block-start: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.section-product-new .product-news .product-new-slide .product-news-list-category { 
  margin-block-start: 0;
}

.section-product-new .product-news .product-new-slide .wp-block-paragraph {
  margin-block-start: 0;
}

.section-product-new .swiper-pagination {
  display: flex;
  justify-content: center;
}

.section-product-new .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 100%;
  background-color: #000;
  margin: 0 4px;
  opacity: 0.2;
}

.section-product-new .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.wp-block-group.swiper-button-prev, .wp-block-group.swiper-button-next {
  display: none;
}

.product-new-banner-area .banner-area-right, .product-new-banner-area .banner-area-right .wp-block-paragraph {
  margin-block-start: 0;
}

.product-new-banner-area a {
  text-decoration: none;
}

.category-page-section .wp-block-paragraph, .category-page-section .wp-block-group {
  margin-block-start: 0;
}

.category-page-section a {
  text-decoration: none;
}

.block-editor-block-list__layout .block-editor-block-list__block img {
  width: 100%;
}

/*----------------------------
Category page
----------------------------*/

.business-support .business-support-menu .business-support-menu-navbar .list-menu-image {
  position: absolute;
}

.business-support .business-support-menu .business-support-menu-navbar .list-menu-image .components-resizable-box__container {
  min-width: auto !important;
}

.business-support .business-support-menu .business-support-menu-navbar .icon-mail {
  margin-block-start: 0;
}

.business-support .business-introduction-inner .business-introduction-menu-develop .menu-develop-item .menu-develop-item-button {
  margin-block-start: 0;
}

.business-support .business-introduction-inner .business-maketing .business-maketing-content-button {
  margin-block-start: 0;
}

.business-support .business-introduction-inner .business-maketing .business-maketing-header-image .components-resizable-box__container {
  height: 100%;
}

.business-support .business-introduction-inner .business-maketing .business-menu-develop-button {
  margin-block-start: 0;
}

.business-support .business-introduction-inner .business-maketing .business-menu-develop-detail .menu-develop-detail-title-image {
  margin-block-start: 0;
}

h2 span:before {
  display: none;
}


.f_right .sns .wp-block-list .wp-block-buttons {
  margin-right: 0px;
  align-items: flex-start;
}

.f_right .wp-block-button .button-link-youtube {
  margin-right: 0px;
  align-items: flex-start;
}

.editor-styles-wrapper .wp-block-group.sns .wp-block-button__link {
  padding: 0;
  align-items: baseline;
  justify-content: flex-start ;
}

.editor-styles-wrapper .wp-block-group.sns .li_wide2 .wp-block-button__link {
  flex-direction: column;
}

.wp-block-image .totop {
  right: 15px;
  bottom: 40px
}

.product-page .wp-block {
  margin-block-start: 0;  
}

.product-intro .product-intro-inner .product-intro-content-item .product-intro-content-evidence-content a {
  display: block;
}

.product-intro .product-intro-inner .product-intro-content {
  flex-wrap: unset;
}

.product-header-title .product-header-list .product-title-header a {
  text-decoration: none;
}

.category-page-division .category-division-list .category-division-link a {
  text-decoration: none;
}

.product-default .product-information-banner-image {
  margin: 20px auto 40px;
}

.robolex-page .product-default .product-banner-list-robolex {
  margin-block-end: 10%;
}

.product-information-hand-list .product-information-hand-item {
  margin-block-end: 40px !important;
}

.plinic-effect-item .plinic-effect-item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: break-spaces;
  margin: 0;
}


.product-information-plinic-sympton .product-information-plinic-sympton-image .components-resizable-box__container {
  height: 100% !important;
}

.product-banner-list-robolex {
  margin-block-end: 10% !important;
}

.product-information .product-information-item {
  margin-block-end: 40px !important;
}

.product-page .wp-block.product-intro-feature{
  margin-block-start: 50px;
}

.product-page .product-intro-top-banner {
  margin-block-end: 30px !important;
}

.product-intro-category .product-intro-category-item-title a {
  text-decoration: none;
}

.product-intro-pack-content .product-intro-pack-content-item p.wp-block-paragraph {
  position: unset;
}

.product-intro-pack-content .product-intro-pack-content-item .product-intro-pack-title {
  top: 30%;
}

.product-intro-content .intro-content-item-image-mark img {
  width: 20% !important;
  margin: 70px auto 0;
}

.product-intro-content-area .product-intro-content-area-image img {
  width: 50% !important;
}


